.pf2e-see-simple-scale-statistics-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.pf2e-see-simple-scale-statistics-change-mode {
    background: #646363;
    border: 2px solid #d8c384;
    color: #f5efe0;
    flex: auto 0 0;
    font-size: .9em;
    font-weight: 500;
    padding: 4px 1px;
}

.pf2e-see-simple-scale-statistics-change-mode.active {
    background-color: #8e00a4;
}

.pf2e-see-simple-scale-statistics-colors-legend {
    display: flex;
    height: 8px;
}

.pf2e-see-simple-scale-statistics-colors-legend:not(.active) {
    -webkit-filter: grayscale(1);
}

.pf2e-see-simple-scale-statistics-color-in-legend {
    flex: 1;
    /* background-color: defined in the code*/
}

.pf2e-see-simple-scale-statistics-change-mode {
    align-content: center;
}


.pf2e-see-simple-scale-statistics-Terrible-color-primary:not(:hover) {
    text-shadow: 0 0 10px #ff0000;
}

.pf2e-see-simple-scale-statistics-Terrible-color-secondary {
    color: #ff0000 !important;
}

.pf2e-see-simple-scale-statistics-Terrible-color-legend {
    background-color: #ff0000;
}

.pf2e-see-simple-scale-statistics-Terrible-border-primary {
    border-style: dotted hidden hidden dotted;
    border-width: 1px;
}

.pf2e-see-simple-scale-statistics-Terrible-border-secondary {
    border-style: dotted hidden hidden dotted !important;
    border-width: 1px !important;
}

.pf2e-see-simple-scale-statistics-Terrible-border-legend {
    border-style: dotted hidden hidden dotted;
    border-width: 1px;
    border-color: black;
}

.pf2e-see-simple-scale-statistics-Low-color-primary:not(:hover) {
    text-shadow: 0 0 10px #ff8000;
}

.pf2e-see-simple-scale-statistics-Low-color-secondary {
    color: #ff8000 !important;
}

.pf2e-see-simple-scale-statistics-Low-color-legend {
    background-color: #ff8000;
}

.pf2e-see-simple-scale-statistics-Low-border-primary {
    border-style: dotted;
    border-width: 2px 1px 1px 2px;
}

.pf2e-see-simple-scale-statistics-Low-border-secondary {
    border-style: dotted !important;
    border-width: 2px 1px 1px 2px !important;
}

.pf2e-see-simple-scale-statistics-Low-border-legend {
    border-style: dotted;
    border-width: 2px 1px 1px 2px;
    border-color: black;
}

.pf2e-see-simple-scale-statistics-Moderate-color-primary:not(:hover) {
    text-shadow: 0 0 10px #ffff54;
}

.pf2e-see-simple-scale-statistics-Moderate-color-secondary {
    color: #ffff54 !important;
}

.pf2e-see-simple-scale-statistics-Moderate-color-legend {
    background-color: #ffff54;
}

.pf2e-see-simple-scale-statistics-Moderate-border-primary {
    border-style: dashed dotted dotted dashed;
    border-width: 2px;
}

.pf2e-see-simple-scale-statistics-Moderate-border-secondary {
    border-style: dashed dotted dotted dashed !important;
    border-width: 2px !important;
}

.pf2e-see-simple-scale-statistics-Moderate-border-legend {
    border-style: dashed dotted dotted dashed;
    border-width: 2px;
    border-color: black;
}

.pf2e-see-simple-scale-statistics-High-color-primary:not(:hover) {
    text-shadow: 0 0 10px #3cff00;
}

.pf2e-see-simple-scale-statistics-High-color-secondary {
    color: #3cff00 !important;
}

.pf2e-see-simple-scale-statistics-High-color-legend {
    background-color: #3cff00;
}

.pf2e-see-simple-scale-statistics-High-border-primary {
    border-style: solid dashed dashed solid;
    border-width: 3px;
}

.pf2e-see-simple-scale-statistics-High-border-secondary {
    border-style: solid dashed dashed solid !important;
    border-width: 3px !important;
}

.pf2e-see-simple-scale-statistics-High-border-legend {
    border-style: solid dashed dashed solid;
    border-width: 3px;
    border-color: black;
}

.pf2e-see-simple-scale-statistics-Extreme-color-primary:not(:hover) {
    text-shadow: 0 0 10px #6cd8ff;
}

.pf2e-see-simple-scale-statistics-Extreme-color-secondary {
    color: #6cd8ff !important;
}

.pf2e-see-simple-scale-statistics-Extreme-color-legend {
    background-color: #6cd8ff;
}

.pf2e-see-simple-scale-statistics-Extreme-border-primary {
    border-style: solid;
    border-width: 3px;
}

.pf2e-see-simple-scale-statistics-Extreme-border-secondary {
    border-style: solid !important;
    border-width: 3px !important;
}

.pf2e-see-simple-scale-statistics-Extreme-border-legend {
    border-style: solid;
    border-width: 3px;
    border-color: black;
}
